<% button = false if local_assigns[:button].nil? %>

<div class="color-div">
	<h1><%= text %></h1>
	<% if button %>
		<div class="button">
			<%= render(
				partial: 'components/button_square_color',
				locals: {
					text: button_text,
					url: button_url,
					classes: ['floating', 'white']
				}
			) %>
		</div>
	<% end %>
</div>