<% if (!@popular_countries.empty?) && (@popular_countries.size > 4) %>
	<div class="graph-countries" id="stats">
		<%= content_tag :div, class: "graph", :data => {countries: @popular_countries.keys.to_a, count: @popular_countries.values.to_a, size: @note_size} do %>
		<% end %>
	</div>
<% end %>
