<%# content_for :head do %>
	<%#= stylesheet_link_tag 'components/header', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%#= javascript_include_tag 'components/header', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# end %>

<% actions = [] if local_assigns[:actions].nil? %>

<header>
	<a class="logo" href="/">Memento</a>
	<% if !(actions.nil?) %>
		<div class="actions">
			<% actions.each do |action| %>
				<%= render(
					partial: 'components/button_square_color',
					locals: {
						text: action[:text],
						url: action[:url],
						classes: ['small']
					}
				) %>
			<% end %>
		</div>
	<% end %>
</header>
