<div class="note-single">
	<div
		class="the-note"
		style="background-color:<%= bg_color %>"
	>
		<div class="note-content">
			<p class="text"><%= text %></p>
			<p class="country">Sent from <%= country %></p>
		</div>
	</div>
</div>