<div class="note-single">
	<div
		class="the-note"
		style="background-color:<%= "hsl(#{rand(0..259)},90%,80%)" %>"
	>
		<div class="note-content">
			<%= render(
				partial: "components/notes/note_content_#{type}",
				locals: {
					content: content
				}
			) %>
		</div>
	</div>
</div>