@import "../_variables";

.note-single {
	> .the-note {
		> .note-content {

			> form {
				width: 100%;
				height: 100%;

				> textarea {
					resize: none;
					background-color: rgba(0, 0, 0, 0);
					border: none;
					font-size: inherit;
				}

				> select {
					background-color: rgba(0, 0, 0, 0);
					border: 2px solid $divider-color;
					border-radius: 2px;
					padding: 5px;
					height: 30px;
					width: 60% !important;
				}

				> input[type="submit"] {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}

		}
	}
}