@import '../_variables';

.note-single {
	// if used with notes-container,
	// view style in _notes_container.scss

	.the-note {
		position: absolute;
		top: 5px;
		bottom: 5px;
		right: 5px;
		left: 5px;
		padding: 7%;
		border-radius: 4px;
		box-shadow: $shadow-level-1;

		.note-content {
			width: 100%;
			height: 100%;

			p {
				margin: 0;
			}
	
			.text {
				font-family: $font-mono;
				height: 80%;
				width: 100%;
				overflow-y: auto;
			}
	
			.country {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				width: 100%;
				font-size: 14px;
			}
		}
	}
}