@import '../_variables';

.notes-container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	> * { // normally a single-note component
		flex-basis: 33.33%;
		flex-grow: 0;
		flex-shrink: 0;
		min-width: 250px;
		max-width: 300px;

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	
		@media screen and (max-width: $tablet) {
			flex-basis: 50%;
		}
	
		@media screen and (max-width: $phone) {
			flex-basis: 100%;
		}
	}
}