/* SHADOWS */

$shadow-level-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-level-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-level-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-level-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-level-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


/* FONTS */

$font-sans: 'Open Sans';
$font-serif: 'Crimson Text';
$font-mono: 'Roboto Slab';

/* COLORS */

$primary-color: #1E88E5;
$divider-color: rgba(0, 0, 0, 0.12);
// $secondary-color: ;

$primary-text: rgba(0, 0, 0, 0.87);
$secondary-text: rgba(0, 0, 0, 0.54);
$disabled-text: rgba(0, 0, 0, 0.38);


/* ANIMATIONS */

$easing: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

/* BREAK POINTS */

$tablet: 700px;
$phone: 500px;