@import "_variables";

.about-div {
	width: 100%;
	min-height: 300px;
	padding: 60px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	> div {
		width: 100%;
		max-width: 600px;
		overflow: visible;
		display: flex;

		> .about-content {
			width: 60%;
			margin: 0;
			min-width: 300px;
			max-width: 500px;

			> .title {
				font-size: 36px;
				font-weight: 600;
				margin: 0;
				margin-bottom: 12px;
				z-index: 2;
			}
		
			> .text {
				font-size: 18px;
				font-weight: 600;
				margin: 0;
				z-index: 2;
			}
		}
	
		> img {
			position: absolute;
			height: 100%;
			max-height: 225px;
			width: auto;
			top: 0;
			bottom: 0;
		}

		&.left {
			justify-content: flex-start;

			img {
				right: 0;

				@media screen and (max-width: $tablet) {
					right: -20%;
				}

				@media screen and (max-width: $phone) {
					right: -40%;
				}
			}
		}

		&.right {
			justify-content: flex-end;

			img {
				left: 0;

				@media screen and (max-width: $tablet) {
					left: -20%;
				}

				@media screen and (max-width: $phone) {
					left: -40%;
				}
			}
		}
	}
}