@import '_variables';

.button-square-color {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 80px;
	height: 30px;
	padding: 0 10px;
	color: white;
	background-color: $primary-color;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 2px;
	transition: box-shadow $easing;

	&.white {
		background-color: white;
		color: $primary-color;
	}

	&.big {
		height: 40px;
		padding: 0 15px;
	}

	&:hover {
		box-shadow: $shadow-level-1;
		transition: box-shadow $easing;
	}

	&.floating {
		box-shadow: $shadow-level-2;

		&:hover {
			box-shadow: $shadow-level-3;
		}
	}
}