@import "_variables";

.color-div {
	width: 100%;
	height: 40vh;
	min-height: 300px;
	max-height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;

	h1 {
		font-family: $font-serif;
		font-size: 54px;
		font-weight: 400;
		width: 80%;
		min-width: 240px;
		max-width: 800px;
		text-align: center;
		margin-bottom: 0.5em;
		color: white;

		@media screen and (max-width: $tablet) {
			font-size: 46px;
		}

		@media screen and (max-width: $phone) {
			font-size: 38px;
		}
	}
}