@import "_variables";

header {
	width: 100%;
	height: 64px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	// box-shadow: $shadow-level-2;
	border-bottom: 2px solid $divider-color;
	z-index: 50;

	@media screen and (max-width: $phone) {
		height: 48px;
	}

	.logo {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 16px;
		padding-top: 6px;
		font-family: $font-serif;
		font-size: 26px;
		font-weight: 600;
		transition: color $easing;

		&:hover {
			color: $secondary-text;
			transition: color $easing;
		}

		@media screen and (max-width: $phone) {
			font-size: 22px;
		}
	}

	.actions {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 16px;

		> * {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

