@import "_variables";

.hero-div {
	width: 100%;
	height: 70vh;
	min-height: 400px;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		font-family: $font-serif;
		font-size: 54px;
		font-weight: 400;
		width: 80%;
		min-width: 240px;
		max-width: 800px;
		text-align: center;
		margin: 0;
		margin-bottom: 1em;
		color: white;

		@media screen and (max-width: $tablet) {
			font-size: 46px;
		}

		@media screen and (max-width: $phone) {
			font-size: 38px;
		}
	}
}