@import '_variables';

.note-single {
	flex-basis: 33.33%;
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 250px;
	max-width: 300px;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	@media screen and (max-width: $tablet) {
		flex-basis: 50%;
	}

	@media screen and (max-width: $phone) {
		flex-basis: 100%;
	}

	.the-note {
		position: absolute;
		top: 5px;
		bottom: 5px;
		right: 5px;
		left: 5px;
		padding: 7%;
		border-radius: 4px;
		box-shadow: $shadow-level-1;

		.note-content {
			width: 100%;
			height: 100%;

			p {
				margin: 0;
			}
	
			.text {
				font-family: $font-mono;
				max-height: 80%;
			}
	
			.country {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				font-size: 14px;
			}
		}
	}
}