@import "../_variables";

.about-div {
	width: 100%;
	min-height: 300px;
	padding: 60px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;

	@media screen and (max-width: $phone) {
		padding: 20px;
	}

	> div {
		width: 100%;
		max-width: 600px;
		overflow: visible;
		display: flex;

		> .about-content {
			width: 60%;
			margin: 0;
			min-width: 280px;
			max-width: 500px;

			> .title {
				font-size: 36px;
				font-weight: 600;
				margin: 0;
				margin-bottom: 12px;
				z-index: 2;

				@media screen and (max-width: $phone) {
					font-size: 30px;
				}
			}
		
			> .text {
				font-size: 18px;
				font-weight: 600;
				color: $secondary-text;
				margin: 0;
				z-index: 2;

				@media screen and (max-width: $phone) {
					font-size: 16px;
				}
			}
		}
	
		> img {
			position: absolute;
			height: 100%;
			max-height: 225px;
			width: auto;
			top: 0;
			bottom: 0;
		}

		&.left {
			justify-content: flex-start;

			img {
				left: 70%;

				@media screen and (max-width: $tablet) {
					left: 75%;
				}

				@media screen and (max-width: $phone) {
					left: 80%;
				}
			}
		}

		&.right {
			justify-content: flex-end;

			img {
				right: 70%;

				@media screen and (max-width: $tablet) {
					right: 75%;
				}

				@media screen and (max-width: $phone) {
					right: 80%;
				}
			}
		}
	}
}